---
import Button from "./extras/Button.astro";
import Subtitle from "./extras/Subtitle.astro";
let aboutText = `Armando Rios - Backend Web Developer | Building Efficient and
        Scalable Web Applications. Explore my portfolio to discover my
        software development projects and skills.`
---

<section id="about" class="flex flex-col items-center">
    <Subtitle icon='{/}' title="<about_me>" text={aboutText}/>
    <div class="lg:w-[800px] flex flex-col lg:flex-row border-t">
        <div
            class="text-center lg:text-start lg:w-[50%] p-4 sm:p-10 lg:border-r text-xl sm:text-4xl underline"
        >
            <h5>
                ...I have over 1 year of experience in web development, with a
                strong background in both front-end and back-end technologies;
            </h5>
        </div>
        <div class="text-center lg:text-start lg:w-[50%] p-4 sm:p-10 text-lg">
            <p>
                ...my journey into the world of web development began with a curiosity to understand the intricate workings of the digital realm. This curiosity evolved into a deep understanding of various programming languages, frameworks, and best practices. I thrive on tackling challenges and translating complex ideas into clean, efficient code.
            </p>
        </div>
    </div>
    <Button text="read_more" />
</section>
