<section id="about" class="pt-10 lg:pt-36">
    <div class="text-center lg:w-[800px] m-auto">
        <h5 class="text-2xl sm:text-4xl md:text-5xl text-red-400 mb-2 sm:mb-6">
            {"{/}"}
        </h5>
        <h2 class="text-5xl sm:text-7xl md:text-9xl mb-2">
            <span> &lt;about_me&gt;</span>
        </h2>
        <p class="text-lg sm:text-xl lg:text-2xl text-red-600 pb-10">
            Armando Rios - Desarrollador Web Backend | Creación de Aplicaciones
            Web Eficientes y Escalables. Explora mi portafolio para descubrir
            mis proyectos y habilidades en desarrollo de software.
        </p>
    </div>
    <div class="lg:w-[800px] m-auto flex flex-col lg:flex-row border-t">
        <div
            class="text-center lg:text-start lg:w-[50%] p-4 sm:p-10 lg:border-r text-xl sm:text-4xl underline"
        >
            <h4>
                ...I have over 1 year of experience in web development, with a
                strong background in both front-end and back-end technologies;
            </h4>
        </div>
        <div class="text-center lg:text-start lg:w-[50%] p-4 sm:p-10">
            <p>
                …curabitur sit amet luctus tortor, sit amet ultrices ante.
                Maecenas convallis dui arcu, et tempor felis consectetur vel.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                posuere cubilia curae; Sed id velit ex. Cras ultricies nisi eget
                sem mollis, a maximus felis laoreet. Nam eget ultricies urna,
                vel ullamcorper arcu. Quisque feugiat rhoncus arcu, a tincidunt
                arcu lacinia ac. Maecenas molestie vel ante in finibus. Sed sit
                amet ligula eros. In hac habitasse platea dictumst;
            </p>
        </div>
    </div>
</section>
