---
import Button from "./extras/Button.astro";
import Subtitle from "./extras/Subtitle.astro";
let aboutText = `Armando Rios - Backend Web Developer | Building Efficient and
        Scalable Web Applications. Explore my portfolio to discover my
        software development projects and skills.`
---

<section id="about" class="flex flex-col items-center">
    <Subtitle icon='{/}' title="<about_me>" text={aboutText}/>
    <div class="lg:w-[800px] flex flex-col lg:flex-row border-t">
        <div
            class="text-center lg:text-start lg:w-[50%] p-4 sm:p-10 lg:border-r text-xl sm:text-4xl underline"
        >
            <h5>
                ...I have over 1 year of experience in web development, with a
                strong background in both front-end and back-end technologies;
            </h5>
        </div>
        <div class="text-center lg:text-start lg:w-[50%] p-4 sm:p-10">
            <p>
                …curabitur sit amet luctus tortor, sit amet ultrices ante.
                Maecenas convallis dui arcu, et tempor felis consectetur vel.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                posuere cubilia curae; Sed id velit ex. Cras ultricies nisi eget
                sem mollis, a maximus felis laoreet. Nam eget ultricies urna,
                vel ullamcorper arcu. Quisque feugiat rhoncus arcu, a tincidunt
                arcu lacinia ac. Maecenas molestie vel ante in finibus. Sed sit
                amet ligula eros. In hac habitasse platea dictumst;
            </p>
        </div>
    </div>
    <Button text="read_more" />
</section>
