<section id="home" class="text-center w-full pt-10 sm:pt-28">
    <h2 class="text-xl sm:text-3xl">HI, I'M ARMANDO, A...</h2>
    <p
        class="text-3xl sm:text-4xl lg:text-6xl xl:text-9xl mt-3 sm:mb-5 flex justify-center"
    >
        {"{"}"<span class="animacion text-red-600">Full Stack Developer</span>"{
            "}"
        }
    </p>
    <a href="#about"><p class="rotate-90 text-xl sm:text-4xl mb-6">==></p></a>
    <div
        class="m-auto sm:w-full bg-codeando bg-cover bg-no-repeat sm:bg-cover bg-center sm:bg-bottom sm:bg-fixed h-[300px] sm:h-[600px]"
    >
    </div>
</section>
