---
import Subtitle from "./extras/Subtitle.astro";
import Project from "./extras/Project.astro";
let text = 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quidem, ea totam dolorem nihil debitis voluptatum quasi optio? Minima'
const styleLeft = "lg:flex text-start lg:w-[50%] p-4 sm:p-12 lg:border-r lg:border-t text-xl sm:text-4xl"
const styleRight = "text-start lg:w-[50%] p-4 sm:p-12 lg:border-t text-xl sm:text-4xl"
---
<section id="portfolio">
    <Subtitle
        icon="(!)" 
        title="<portfolio>" 
        text="...these are some of the projects he works on."
    />
    
</section>